<br>
<br>

{{#each products}}
<div style="border: solid 1px black;">
    <div class="item-head">{{this.name}}</div>
    <div class="item-des" >{{this.description}}</div>
    <div class="item-cat">{{this.category}}</div>
    <img src="{{this.imageUrl}}" height="100" width="100" />
    {{!-- {{this}} --}}
    {{!-- {{this.name}} --}}
</div>
{{/each}}