<nav id="tabs" class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <span class="whit">M</span>
        <span class="whit">E</span>
        <span class="whit">N</span>
        <span class="whit">U</span>
    </a>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#veg">Veg</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#non-veg">Non-veg</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#sides">Sides</a>
        </li>
    </ul>
</nav><hr>
<div id="menu" data-spy="scroll" data-target="#tabs" data-offset="0" class="col-lg-10">
    <div id="veg" class="tabcontent clearfix">
        <p id="tab-title" class="px-3 py-2">Veg</p>
        <hr>
        <ol id="tablist row">
            {{#each cat1}}
            <li class="col-lg-4 nostyle" id="column">
                <img src="{{this.imageUrl}}" class="image-responsive" height="100" width="100" /><br>
                <strong>{{this.name}}</strong><br>
                {{this.description}}<br>
                <button class="btn btn-warning" onclick="addToCart('{{this.sku}}')">Add to Cart <span
                        class="glyphicon glyphicon-shopping-cart"></span></button>
            </li>
            {{/each}}
        </ol>
    </div>
    <br><hr>
    <div id="non-veg" class="tabcontent clearfix">
        <p id="tab-title" class="px-3 py-2">Non-Veg</p>
        <hr>
        <ol id="tablist row">
            {{#each cat2}}
            <li class="col-lg-4 nostyle" id="column">
                <img src="{{this.imageUrl}}" class="image-responsive" height="100" width="100" /><br>
                <strong>{{this.name}}</strong><br>
                {{this.description}}<br>
                <button class="btn btn-warning" onclick="addToCart('{{this.sku}}')">Add to Cart <span
                        class="glyphicon glyphicon-shopping-cart"></span></button>
            </li>
            {{/each}}
        </ol>
    </div><br><hr>
    <div id="sides" class="tabcontent clearfix">
        <p id="tab-title" class="px-3 py-2">Sides</p>
        <hr>
        <ol id="tablist row">
            {{#each cat3}}
            <li class="col-lg-4 nostyle" id="column">
                <img src="{{this.imageUrl}}" class="image-responsive" height="100" width="100" /><br>
                <strong>{{this.name}}</strong><br>
                {{this.description}}<br>
                <button class="btn btn-warning" onclick="addToCart('{{this.sku}}')">Add to Cart <span
                        class="glyphicon glyphicon-shopping-cart"></span></button>
            </li>
            {{/each}}
        </ol>
    </div>
</div><hr>
<br><br><br>
<form method="POST" action="/placeorder" id="orderForm">
    <input class="btn btn-lg btn-success placeorder" type="submit" value="Place Order">
</form>
