<header class="w3-container w3-teal" id="reg">
  <h1>Profile</h1>
</header>

<div id="prof">
  <div id="def" class="collapse in">
    <h3>Name: {{user.name}} </h3><br>
    <h3>Email: {{user.email}} </h3><br>
    <h3>Number: {{user.phoneno}} </h3><br>
    <h3>Address: {{user.address}} </h3><br>
  </div>
  <button type="button" class="btn btn-primary float-right" data-toggle="collapse"
    data-target="#update, #def">Edit</button>
  <div id="update" class="collapse">
    <div class="well">
      <div id="updateform" class="container">
        <form action="" method="POST" class="px-4 py-3">
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" value="{{user.name}}" class="form-control" id="user.name" />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="hidden" name="email" value="{{user.email}}" />
            <input type="email" name="email" value="{{user.email}}" class="form-control" disabled id="user.email" />
          </div>
          <div class="form-group">
            <label>Phone number</label>
            <input type="number" name="phoneno" value="{{user.phoneno}}" class="form-control" id="user.phoneno" />
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea name="address" rows="3" value="{{user.address}}" class="form-control"
              id="user.address">{{user.address}}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form><br>
      </div>
    </div>
  </div>
</div>